/* SECTION INPUT */
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-grey;
  padding: 12px 0 12px 15px;
  &__icon {
    font-size: 15px;
    padding: 8px 10px;
    color: #000000b8;
  }
  &__location {
    width: 153px;
    line-height: 35px;
    font-weight: 700;
    border: none;
    background-color: #f3f3f3;
    font-size: 18px;
    font-family: "Roboto";
    padding-left: 8px;
    &::placeholder {
      color: #000000b8;
    }
  }
}
