//keyframes loader

@keyframes load {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
//keyframes spinner
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

//keyframes appear

@keyframes appear {
  0% {
    
    transform: translateY(100px);
    opacity: 0;
}

100% {
  
    transform: translateY(0px);
    opacity: 1;
}
  
}