//couleurs
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-grey: #f3f3f3;

//polices
$title-font: "Shrikhand", sans-serif;
$body-font: "Roboto", sans-serif;

//media-queries
$small-screen: "screen and (min-width: 768px)";
$medium-screen: "screen and (min-width: 992px)";
$large-screen: "screen and (min-width: 1440px)";
